In [41]:
from load_data import loading_and_pre_processing_pipeline
import pandas as pd

feature_data = loading_and_pre_processing_pipeline()
feature_data['test_week_start'] = feature_data['test_week_start'].apply(pd.to_datetime)
cleaned_feature_data = feature_data.dropna(axis=0)

print(f'{len(feature_data)} records from {len(set(cleaned_feature_data["user_id"].values))} users present. ')
print(f'{len(cleaned_feature_data)} of which are complete.')

293292 records from 7276 users present.
63515 of which are complete.

In [48]:
import ramda as R
from datetime import datetime
import requests

url = 'https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Daten/VOC_VOI_Tabelle.xlsx?__blob=publicationFile'
omicron_column = 'Omikron_BA.1+BA.1.1+BA.1.1.1+BA.1.1.2+BA.1.1.3+BA.1.1.4+BA.1.1.5+BA.1.1.6+BA.1.1.7+BA.1.1.8+BA.1.1.9+BA.1.1.10+BA.1.1.11+BA.1.1.12+BA.1.1.13+BA.1.1.14+BA.1.1.15+BA.1.1.16+BA.1.1.17+BA.1.1.18+BA.1.2+BA.1.3+BA.1.4+BA.1.5+BA.1.6+BA.1.7+BA.1.8+BA.1.9+BA.1.10+BA.1.12+BA.1.13+BA.1.13.1+BA.1.14+BA.1.14.1+BA.1.14.2+BA.1.15+BA.1.15.1+BA.1.15.2+BA.1.16+BA.1.16.1+BA.1.16.2+BA.1.17+BA.1.17.1+BA.1.17.2+BA.1.18+BA.1.19+BA.1.20+BA.1.21+BA.1.21.1+BA.1.22_Anteil (%)'
delta_column = 'Delta_AY.1+AY.2+AY.3+AY.3.1+AY.3.2+AY.3.3+AY.3.4+AY.4+AY.4.1+AY.4.2+AY.4.2.1+AY.4.2.2+AY.4.2.3+AY.4.2.4+AY.4.2.5+AY.4.3+AY.4.4+AY.4.5+AY.4.6+AY.4.7+AY.4.8+AY.4.9+AY.4.10+AY.4.11+AY.4.12+AY.4.13+AY.4.14+AY.4.15+AY.4.16+AY.4.17+AY.5+AY.5.1+AY.5.2+AY.5.3+AY.5.4+AY.5.5+AY.5.6+AY.5.7+AY.6+AY.7+AY.7.1+AY.7.2+AY.8+AY.9+AY.9.2+AY.9.2.1+AY.9.2.2+AY.10+AY.11+AY.13+AY.14+AY.15+AY.16+AY.16.1+AY.17+AY.18+AY.19+AY.20+AY.20.1+AY.21+AY.22+AY.23+AY.23.1+AY.23.2+AY.24+AY.24.1+AY.25+AY.25.1+AY.25.1.1+AY.25.1.2+AY.25.2+AY.25.3+AY.26+AY.26.1+AY.27+AY.28+AY.29+AY.29.1+AY.29.2+AY.30+AY.31+AY.32+AY.33+AY.33.1+AY.33.2+AY.34+AY.34.1+AY.34.1.1+AY.34.2+AY.35+AY.36+AY.36.1+AY.37+AY.38+AY.39+AY.39.1+AY.39.1.1+AY.39.1.2+AY.39.1.3+AY.39.1.4+AY.39.2+AY.39.3+AY.40+AY.41+AY.42+AY.42.1+AY.43+AY.43.1+AY.43.2+AY.43.3+AY.43.4+AY.43.5+AY.43.6+AY.43.7+AY.43.8+AY.43.9+AY.44+AY.45+AY.46+AY.46.1+AY.46.2+AY.46.3+AY.46.4+AY.46.5+AY.46.6+AY.46.6.1+AY.47+AY.48+AY.49+AY.50+AY.51+AY.52+AY.53+AY.54+AY.55+AY.56+AY.57+AY.58+AY.59+AY.60+AY.61+AY.62+AY.63+AY.64+AY.65+AY.66+AY.67+AY.68+AY.69+AY.70+AY.71+AY.72+AY.73+AY.74+AY.75+AY.75.2+AY.75.3+AY.76+AY.77+AY.78+AY.79+AY.80+AY.81+AY.82+AY.83+AY.84+AY.85+AY.86+AY.87+AY.88+AY.90+AY.91+AY.91.1+AY.92+AY.93+AY.94+AY.95+AY.98+AY.98.1+AY.99+AY.99.1+AY.99.2+AY.100+AY.101+AY.102+AY.102.1+AY.102.2+AY.103+AY.103.1+AY.103.2+AY.104+AY.105+AY.106+AY.107+AY.108+AY.109+AY.110+AY.111+AY.112+AY.112.1+AY.112.2+AY.112.3+AY.113+AY.114+AY.116+AY.116.1+AY.117+AY.118+AY.119+AY.119.1+AY.119.2+AY.120+AY.120.1+AY.120.2+AY.120.2.1+AY.121+AY.121.1+AY.122+AY.122.1+AY.122.2+AY.122.3+AY.122.4+AY.122.5+AY.122.6+AY.123+AY.123.1+AY.124+AY.124.1+AY.124.1.1+AY.125+AY.125.1+AY.126+AY.127+AY.127.1+AY.127.2+AY.127.3+AY.128+AY.129+AY.131+AY.132+AY.133+AY.134+B.1.617.2_Anteil (%)'


def add_variant_data(feature_data: pd.DataFrame) -> pd.DataFrame:
    r = requests.get(url)
    with open('tmp.xlsx', 'wb') as file:
        file.write(r.content)

    variant_data = pd.read_excel('tmp.xlsx', sheet_name='VOC', skipfooter=1)

    # parse calendar week to date
    variant_data['test_week_start'] = variant_data['KW'].apply(
        R.pipe(R.replace('K', ''), lambda d: datetime.strptime(d + '-1', "%Y-W%W-%w").date()))

    variant_data['test_week_start'] = variant_data['test_week_start'].apply(pd.to_datetime)

    print(variant_data[['test_week_start', omicron_column, delta_column]].rename(
    columns={omicron_column: 'omicron_share', delta_column: 'delta_share'}).set_index('test_week_start').index)

    # upsample variant data to daily values, using linear interpolation
    upsampled_variant_data = variant_data[['test_week_start', omicron_column, delta_column]].rename(
    columns={omicron_column: 'omicron_share', delta_column: 'delta_share'}).set_index('test_week_start').resample(
    'D').interpolate(method='linear').reset_index()

    # merge omicron share on other data
    return upsampled_variant_data.merge(feature_data, on='test_week_start', how='outer')


full_feature_data = add_variant_data(feature_data)

DatetimeIndex(['2021-01-04', '2021-01-11', '2021-01-18', '2021-01-25',
               '2021-02-01', '2021-02-08', '2021-02-15', '2021-02-22',
               '2021-03-01', '2021-03-08', '2021-03-15', '2021-03-22',
               '2021-03-29', '2021-04-05', '2021-04-12', '2021-04-19',
               '2021-04-26', '2021-05-03', '2021-05-10', '2021-05-17',
               '2021-05-24', '2021-05-31', '2021-06-07', '2021-06-14',
               '2021-06-21', '2021-06-28', '2021-07-05', '2021-07-12',
               '2021-07-19', '2021-07-26', '2021-08-02', '2021-08-09',
               '2021-08-16', '2021-08-23', '2021-08-30', '2021-09-06',
               '2021-09-13', '2021-09-20', '2021-09-27', '2021-10-04',
               '2021-10-11', '2021-10-18', '2021-10-25', '2021-11-01',
               '2021-11-08', '2021-11-15', '2021-11-22', '2021-11-29',
               '2021-12-06', '2021-12-13', '2021-12-20', '2021-12-27',
               '2022-01-03', '2022-01-10', '2022-01-17', '2022-01-24',
               '2022-01-31', '2022-02-07', '2022-02-14', '2022-02-21',
               '2022-02-28', '2022-03-07', '2022-03-14', '2022-03-21',
               '2022-03-28', '2022-04-04', '2022-04-11', '2022-04-18',
               '2022-04-25'],
              dtype='datetime64[ns]', name='test_week_start', freq=None)

In [50]:
full_feature_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 293524 entries, 0 to 293523
Data columns (total 23 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   test_week_start          293524 non-null  datetime64[ns]
 1   omicron_share            283447 non-null  float64
 2   delta_share              283447 non-null  float64
 3   user_id                  293292 non-null  float64
 4   rhr_metric               253700 non-null  float64
 5   steps_metric             263091 non-null  float64
 6   sleep_duration_metric    165149 non-null  float64
 7   vaccination_status       224944 non-null  float64
 8   days_since_last_dose     220021 non-null  float64
 9   chills                   286368 non-null  object
 10  body_pain                286368 non-null  object
 11  loss_of_taste_and_smell  286368 non-null  object
 12  fatigue                  285289 non-null  object
 13  cough                    286368 non-null  object
 14  cold                     286368 non-null  object
 15  diarrhea                 286368 non-null  object
 16  sore_throat              286368 non-null  object
 17  asymptomatic             286368 non-null  object
 18  test_result              162682 non-null  object
 19  fittness                 270702 non-null  float64
 20  sex                      271247 non-null  float64
 21  age                      271246 non-null  float64
 22  date                     293292 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(11), object(10)
memory usage: 53.7+ MB

In [43]:
r = requests.get(url)
with open('tmp.xlsx', 'wb') as file:
    file.write(r.content)

variant_data = pd.read_excel('tmp.xlsx', sheet_name='VOC', skipfooter=1)

# parse calendar week to date
variant_data['test_week_start'] = variant_data['KW'].apply(
    R.pipe(R.replace('K', ''), lambda d: datetime.strptime(d + '-1', "%Y-W%W-%w").date(), pd.to_datetime))

upsampled_variant_data = variant_data[['test_week_start', omicron_column, delta_column]].rename(
    columns={omicron_column: 'omicron_share', delta_column: 'delta_share'}).set_index('test_week_start').resample(
    'D').interpolate(method='linear').reset_index()
upsampled_variant_data

    test_week_start  omicron_share  delta_share
0        2021-01-04            0.0     0.000000
1        2021-01-05            0.0     0.028571
2        2021-01-06            0.0     0.057143
3        2021-01-07            0.0     0.085714
4        2021-01-08            0.0     0.114286
..              ...            ...          ...
472      2022-04-21            1.6     0.000000
473      2022-04-22            1.6     0.000000
474      2022-04-23            1.6     0.000000
475      2022-04-24            1.6     0.000000
476      2022-04-25            1.6     0.000000

[477 rows x 3 columns]

In [44]:
upsampled_variant_data.merge(feature_data, on='test_week_start', how='outer')

,test_week_start,omicron_share,delta_share,user_id,rhr_metric,steps_metric,sleep_duration_metric,vaccination_status,days_since_last_dose,chills,...,cough,cold,diarrhea,sore_throat,asymptomatic,test_result,fittness,sex,age,date
0,2021-01-04,0.0,0.0,26348.0,0.812354,-0.592758,NaN,0.0,NaN,None,...,None,None,None,None,None,False,380.0,773.0,814.0,2021-01-04
1,2021-01-04,0.0,0.0,32077.0,-0.936512,-0.344384,1.377666,0.0,NaN,None,...,None,None,None,None,None,None,380.0,773.0,815.0,2021-01-04
2,2021-01-04,0.0,0.0,54279.0,1.362409,NaN,NaN,0.0,NaN,None,...,None,None,None,None,None,False,NaN,NaN,NaN,2021-01-04
3,2021-01-04,0.0,0.0,68648.0,-0.329008,-0.220081,0.531772,0.0,NaN,None,...,None,None,None,None,None,False,380.0,773.0,816.0,2021-01-04
4,2021-01-04,0.0,0.0,69408.0,0.269898,-0.871581,NaN,0.0,NaN,None,...,None,None,None,None,None,False,NaN,NaN,NaN,2021-01-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293519,2022-05-09,NaN,NaN,418359.0,1.093366,0.558457,NaN,3.0,159.0,False,...,False,False,False,False,True,False,376.0,774.0,814.0,2022-05-09
293520,2022-05-09,NaN,NaN,499978.0,2.591983,0.773239,-0.962384,NaN,NaN,False,...,False,False,False,False,True,False,NaN,NaN,NaN,2022-05-09
293521,2022-05-09,NaN,NaN,897860.0,0.000000,0.273662,-0.543618,NaN,NaN,False,...,True,True,False,True,False,None,378.0,774.0,812.0,2022-05-09
293522,2022-05-09,NaN,NaN,936606.0,0.298248,-0.337632,NaN,3.0,189.0,False,...,False,False,False,False,True,None,382.0,773.0,810.0,2022-05-09
293523,2022-05-09,NaN,NaN,941626.0,1.600558,0.830809,-0.260905,3.0,97.0,False,...,False,False,False,False,False,False,496.0,774.0,815.0,2022-05-09